html {
  background: #EEEEEE;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 18px;
}

.menu {
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  max-width: 400px;
  margin: auto;
}

.menu a {
  color: #000;
  text-decoration: none;
}

.loading {
  margin: auto;
  position: relative;
  margin-top: 150px;
  text-align: center;
  width: 100px;
  height: 100vh;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 7px;
  background: #9E9E9E;
  animation: wave 1.3s linear infinite;
}

.dot:nth-child(2) {
  animation-delay: -1.1s;
}

.dot:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }

  30% {
    transform: translateY(-15px);
  }
}

.main {
  padding: 30px;
  margin-bottom: 30px;
}

.table-container {
  text-align: center;
  background: white;
  border-radius: 5px;
  padding: 70px;
  margin: auto;
}

.table-inner {
  margin: auto;
}

.row {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
  padding: 10px;
}

.row-inner {
  padding-bottom: 20px;
}

/* React Table override */
.pagination-bottom,
.-pagination,
.-previous,
.-center,
.-next
.-btn {
  max-height: 60px;
}

.ReactTable .-pagination .-btn {
  height: auto !important;
  padding: 10px !important;
}
